---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: mutating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-supabase-strrl-dev-v1alpha1-supabaseproject
  failurePolicy: Fail
  name: msupabaseproject.kb.io
  rules:
  - apiGroups:
    - supabase.strrl.dev
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - supabaseprojects
  sideEffects: None
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-supabase-strrl-dev-v1alpha1-supabaseproject
  failurePolicy: Fail
  name: vsupabaseproject.kb.io
  rules:
  - apiGroups:
    - supabase.strrl.dev
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - supabaseprojects
  sideEffects: None
