apiVersion: v1
kind: Secret
metadata:
  name: postgres-config
  namespace: default
stringData:
  host: "postgres.dev-deps.svc.cluster.local"
  port: "5432"
  database: "supabase"
  username: "postgres"
  password: "postgres"
---
apiVersion: v1
kind: Secret
metadata:
  name: s3-config
  namespace: default
stringData:
  endpoint: "http://minio.dev-deps.svc.cluster.local:9000"
  region: "us-east-1"
  bucket: "supabase-storage"
  accessKeyId: "minioadmin"
  secretAccessKey: "minioadmin"
---
apiVersion: supabase.strrl.dev/v1alpha1
kind: SupabaseProject
metadata:
  labels:
    app.kubernetes.io/name: supabase-operator
    app.kubernetes.io/managed-by: kustomize
  name: supabaseproject-sample
  namespace: default
spec:
  projectId: my-supabase-project

  database:
    secretRef:
      name: postgres-config
    sslMode: disable
    maxConnections: 50

  storage:
    secretRef:
      name: s3-config
    forcePathStyle: true

  kong:
    image: kong:2.8.1
    replicas: 1

  auth:
    image: supabase/gotrue:v2.180.0
    replicas: 1

  postgrest:
    image: postgrest/postgrest:v13.0.7
    replicas: 1

  realtime:
    image: supabase/realtime:v2.51.11
    replicas: 1

  storageApi:
    image: supabase/storage-api:v1.28.0
    replicas: 1

  meta:
    image: supabase/postgres-meta:v0.91.6
    replicas: 1
