# Default values for supabase-operator.
# This is a YAML-formatted file.

replicaCount: 1

image:
  repository: ghcr.io/strrl/supabase-operator
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: ""

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

rbac:
  create: true
  createLeaderElection: true
  createMetrics: true
  createHelperClusterRoles: true

leaderElection:
  enabled: true

podAnnotations: {}
podLabels: {}

podSecurityContext:
  runAsNonRoot: true
  seccompProfile:
    type: RuntimeDefault

securityContext:
  readOnlyRootFilesystem: true
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL

resources:
  limits:
    cpu: 500m
    memory: 128Mi
  requests:
    cpu: 10m
    memory: 64Mi

metricsService:
  enabled: true
  annotations: {}
  port: 8443

priorityClassName: ""
extraArgs: []
extraEnv: []
extraVolumeMounts: []
extraVolumes: []

nodeSelector: {}
tolerations: []
affinity: {}

topologySpreadConstraints: []
