name: E2E Tests

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  test-e2e:
    name: Run on Ubuntu
    runs-on: ubuntu-latest
    steps:
      - name: Clone the code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Setup Minikube
        uses: medyagh/setup-minikube@v0.0.20
        with:
          driver: docker
          kubernetes-version: v1.31.1
          cpus: 4
          memory: 8192m
          wait: all

      - name: Install Google Chrome for headless tests
        run: |
          sudo apt-get update
          sudo apt-get install -y wget gnupg
          wget -q -O - https://dl.google.com/linux/linux_signing_key.pub | sudo gpg --dearmor -o /usr/share/keyrings/google-linux-signing-keyring.gpg
          echo "deb [arch=amd64 signed-by=/usr/share/keyrings/google-linux-signing-keyring.gpg] http://dl.google.com/linux/chrome/deb/ stable main" | sudo tee /etc/apt/sources.list.d/google-chrome.list
          sudo apt-get update
          sudo apt-get install -y google-chrome-stable

      - name: Running Test e2e
        env:
          MINIKUBE_PROFILE: minikube
        run: |
          go mod tidy
          make test-e2e
